@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(97% 0 0);
	--foreground: oklch(20.5% 0 0);
	--primary: oklch(20.5% 0 0);
	--primary-foreground: oklch(97% 0 0);
	--destructive: oklch(50.5% 0.213 27.518);
}

.dark {
	--background: oklch(20.5% 0 0);
	--foreground: oklch(97% 0 0);
	--primary: oklch(97% 0 0);
	--primary-foreground: oklch(20.5% 0 0);
	--destructive: oklch(57.7% 0.245 27.325);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-destructive: var(--destructive);
}

body {
	@apply bg-background text-foreground;
}
