@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(97% 0 0);
	--foreground: oklch(20.5% 0 0);
}

.dark {
	--background: oklch(20.5% 0 0);
	--foreground: oklch(97% 0 0);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

body {
	@apply bg-background text-foreground;
}
